html{
    height: 98%;
}

body{
    min-height: 100%;
    background-image: url("../pictures/bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
}

#navLogo{
    width: 250px;
}

.bleu, .nav-link, .nav-link:hover, .nav-link:visited{
    color: #29acd6;
}

.rouge{
    color: #f25357;
}

.red-border{
    border: solid 2px #f25357;
    border-radius: 5px;
}

.blue-border{
    border: solid 2px #29acd6;
    border-radius: 5px;
}

.nav-red-border{
    border: solid 2px #f25357;
    border-radius: 25px;
}

.blue-hr{
    display: block;
    height: 1px;
    margin: 1em 0; 
    padding: 0;
    border: 0; 
    border-top: 2px solid #29acd6;
}

.red-hr{
    display: block;
    height: 1px;
    margin: 1em 0; 
    padding: 0;
    border: 0; 
    border-top: 2px solid #f25357;

}

#submitButton{
    width: 10%;
}

#submitButtonConnexion, #submitButtonInscription{
    width: 22.5%;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 98%;
}

.footer .blue-hr, .adv .red-hr, .md-size{
    width: 85%;
}

.pts-ico:after{
    content: '';
    background:url('../pictures/points.png');
    background-size:cover;
        position:absolute;
    width:1.25em;
    height:1.25em;
    margin-left:10px;
}

.time-ico:after{
    content: '';
    background:url('../pictures/time.png');
    background-size:cover;
        position:absolute;
    width:1.25em;
    height:1.25em;
    margin-left:10px;
}

.red-dot:after{
    content: '';
    background-color: #f25357;
    background-size:cover;
    border-radius: 50%;
        position:absolute;
    width:1.25em;
    height:1.25em;
    margin-left:10px;
}

.blue-dot:after{
    content: '';
    background-color: #29acd6;
    background-size:cover;
    border-radius: 50%;
        position:absolute;
    width:1.25em;
    height:1.25em;
    margin-left:10px;
}

.btn-primary{
    background-color: #29acd6;
    border-color: #29acd6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  width: 3em;
  height: 3em;
  border-radius: 25%;
}

.blue-border-xs{
    width: 2em;
    border-radius: 2em;
}

td, th{
    font-size: x-large;
}

.croix{
    font-weight: bold;
}